---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeaturesFlow from "../components/features/FeaturesFlow.astro";
import MomentumEngine from "../components/momentum/MomentumEngine.astro";
import KineticFeed from "../components/kinetic-feed/KineticFeed.astro";
import StreamlineProcess from "../components/streamline/StreamlineProcess.astro";
import QuantumEcho from "../components/cta/QuantumEcho.astro";
---

<Layout title="TB | Scale Your Twitter Presence">
	<main class="relative overflow-hidden">
		<!-- Dynamic Spotlight Background -->
		<!-- Magnetic Time Grid Background -->
		<HeroSection />

		<FeaturesFlow />

		<KineticFeed />
		<StreamlineProcess />
		<MomentumEngine />

		<QuantumEcho />
	</main>
</Layout>
